.settings/
.metadata/
.recommenders/
RemoteSystemsTempFiles/

.vscode/
.idea/
Servers/
target/

*.classpath
*.project
*.prefs
*.iml
*.properties
.springBeans
src/main/java/com/sist/crawl/
.tern-project
.eslintrc.json
